.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: rgb(5, 160, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.blogStyle {
  padding-top: 10px;
  padding-left: 2px;
  border: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

p {
  margin: 0px;
  padding: 0px;
}
.center-text {
  text-align: center;
}
.centered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Adjust or remove as needed */
  text-shadow: 1px;
}

.centered-heading h1 {
  margin: 0; /* Remove default margin of h1 */
}
